In [3]:
#folder-->5 files-->unique
import os
import string
import random
#os.mkdir("python class")
for i in range(1,6):
    file_name="C:\\Users\\Vaishnavi Batchu\\Desktop\\AIandML\\python class\\file%d"%(i)
    f = open(file_name,"a")
    data = ""
    for i in range(512):
        data = data + random.choice(string.ascii_letters)
    f.write(data)
    f.close()

In [2]:
pwd

'C:\\Users\\Vaishnavi Batchu\\Desktop\\AIandML'

In [5]:
#create another list with even elements of list1
list1 =list(range(1,11))
list2= []
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [6]:
#list comprehension
list3 = [i for i in list1 if i%2==0]
print(list3)

[2, 4, 6, 8, 10]

In [3]:
#input : "Hello 12345"
#ouput : ['1','2','3','4','5']
s=input("enter a string:")
list4 = [i for i in s if i.isdigit()]
print(list4,len(list4))

enter a string:hello12345
['1', '2', '3', '4', '5'] 5

In [4]:
list5=list(range(1,11))
list6=list(range(11,20))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
list5=list(range(1,11))
list6=list(range(11,20))
result = [list5[i]+list6[i]  for i in range(len(list6))]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28]

In [4]:
#zip()-->to work with multiple lists
result = [x+y for x,y in zip(list5,list6)]
result

[12, 14, 16, 18, 20, 22, 24, 26, 28]

### Anonymous function(lambda functions)
```lambda arguments : logic```

In [5]:
s = lambda x : x**2

In [6]:
s(11)

121

In [8]:
add = lambda x,y :x+y
add(1,2)

3

## map()
```map(function_name,iterable object)```

In [9]:
list6 = list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
#output = [2,4,6,8,10,12,14,16,18,20]
result = [i*2 for i in list6]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
#map(function_name,iterable object)
result = list(map(lambda i : i*2,list6))
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
'10 20 30'.split()

['10', '20', '30']

In [16]:
#unpacking
x,y,z = list(map(int,input("enter your input:").split()))
print(x,y,z)

enter your input:10 20 30
10 20 30

## filter()-->used for boolean expressions

In [17]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
result = []
for i in list6:
    if i%5==0:
        result.append(i)
result

[5, 10]

In [21]:
list(filter(lambda x : (x%3==0),list6))

[3, 6, 9]

## Reduce()

In [24]:
from functools import reduce

In [25]:
#traditional
list1 = [1,2,3,4,5]
#output = 120
m = 1
for i in list1:
    m *= i
print(m)

120

In [26]:
reduce(lambda x,y:x*y,list1)
#[1,2,3,4,5] ==> 2,3,4,5 ==> 6,4,5 ==> 24,5 ==>F120

120